/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 2, 2016, 12:15:51 PM
    Author     : Vladimir
*/
.about-main .our-about {
	letter-spacing: 0.07em;
	position: relative;
	display:table;
	background-image: url(images/gray_corner.png);
	background-size: 100% 100%;
	padding-top: 2em;
	padding-bottom: 3.5em;
}
.about-main .corner-image {
	position: absolute;
	bottom: 0;
	right: 0;
}
.about-main .our-about-text {
	display: table-cell;
	width: 50%;
	padding: 0% 3em 0% 7em;
}
.about-main .out-about-images {
	display: table-cell;
	width: 50%;
	position: relative;
}
.about-main .about-image1 {
	position: absolute;
	width: auto;
	height: 80%;
	right: 14em;
	bottom: 0.7em;
	-ms-transform: rotate(-16deg); /* IE 9 */
    -webkit-transform: rotate(-16deg); /* Chrome, Safari, Opera */
    transform: rotate(-16deg);
	border: 0.15em solid #fcc828;
	z-index: 2;
}
.about-main .about-image2 {
	position: absolute;
	width: auto;
	height: 80%;
	right: 8em;
	bottom: 1em;
	-ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
	border: 0.15em solid #fcc828;
	z-index: 1;
}
.about-main .corner-image {
	position: absolute;
	right: 0;
	bottom: 2em;
	width: 6em;
	height: auto;
}
.about-main .about-header {
	font-family: SatisfyRegular;
	color: #fcc828;
	font-size: 1.8em;
}
.about-main .our-about-text .solid-lines {
	width: 4em;
	padding-top: 0.1em;
	border-top: medium solid #585757;
	border-bottom: thick solid #585757;
}
.about-main .about-description {
	padding-top: 2em;
	padding-bottom: 2em;
	font-size: 0.7em;
}
.about-main .our-team {
	padding: 2em 7em 2em 7em;
	letter-spacing: 0.07em;
	
}
.about-main .our-team .solid-lines {
	width: 4em;
	padding-top: 0.12em;
	border-top: medium solid #585757;
	border-bottom: thick solid #585757;
}
.about-main .our-team .contact-button {
	width: 1.3em;
	height: auto;
	cursor: pointer;
}
.about-main .our-team .cook-persons {
	text-align: center;
	margin-top: 2em;
}
.about-main .our-team .cook-person {
	width: 10em;
	display: inline-block;
	-webkit-border-radius: 2em; /*For Safari, etc.*/
    -moz-border-radius: 2em; /*For Mozilla, etc.*/
    border-radius: 2em; /*CSS3 Feature*/
	border: 0.1em solid transparent;
	margin-left: 1em;
	margin-right: 1em;
}
.about-main .our-team .cook-person:hover {
	border: 0.1em solid #fcc828;
}

.about-main .our-team .cooker-portrait {
	background-position: center;
	background-size: cover; 
	position: relative;
	width: 100%;
	height: 12em;
}

.about-main .our-team .cooker-portrait-image {
	position: relative; 
	width: 100%; /* for IE 6 */
	height: 100%;
}

.about-main .our-team .cook-person .separator {
	border-top: 0.4em solid #fcc828;
}
.about-main .our-team .cooker-name {
	font-family: SatisfyRegular;
	color: #1d1d1d;
	padding-top: 0.5em;
	padding-bottom: 0.1em;
}
.about-main .our-team .cooker-description {
	font-family: LatoLight;
	color: #c6c6c6;
	font-size: 0.6em;
	padding-top: 0.2em;
	padding-bottom: 0.5em;
}

.about-main .our-team .cook-person .separator2 {
	border-top: 0.15em solid #85888d;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.about-main .our-team .cooker-intro {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fcc828;
	display: none;
}

.about-main .cook-person .cooker-intro {
	text-align: center;
	padding: 0.4em 0.4em 0 0.4em;
}

.about-main .cook-person .cooker-cap-icon {
	width: 1.5em;
	height: auto;
}

.about-main .cook-person .cooker-intro-text {
	font-family: LatoLight;
	color: #393535;
	font-size: 0.7em;
	letter-spacing: 0;
}

.about-main .cook-person .contact-buttons {
	padding: 0.3em 0 0.3em 0;
}