/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2016, 11:45:33 AM
    Author     : Vladimir
*/

.header .intro {
	height: 70%;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	color: white;
	text-shadow: 2px 3px #000000;
	vertical-align: middle;
}

.header .intro .spacing2 {
	height: 10%;
}

.header .intro .restaurant-name{
	font-size: 3.5em;
	vertical-align: bottom;
}

.header .intro .intro-header {
	height: 20%;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	font-family: RobotoBold;
	font-size: 2em;
}
.header .intro .intro-description {
	height: 25%;
	font-family: RobotoMedium;
	font-size: 0.9em;
	line-height: 150%;
}

.header .intro .intro-href {
	height: 25%;
	text-shadow: none;
	font-family: RobotoBold;
	text-transform: uppercase;
}
