/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2016, 11:45:33 AM
    Author     : Vladimir
*/

.header .intro {
	height: 11.5em;
	margin-left: 10em;
	margin-right: 10em;
	text-align: center;
	color: white;
	text-shadow: 2px 3px #000000;
	vertical-align: middle;
	display: table;
}

.header .intro .intro-content {
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
}

.header .intro .restaurant-name{
	padding-top: 0.2em;
	font-size: 3.5em;
	vertical-align: middle;
}

.header .intro .intro-header {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.2em;
	font-family: RobotoBold;
	font-size: 1.7em;
}
.header .intro .intro-description {
	font-family: RobotoMedium;
	font-size: 0.9em;
	line-height: 150%;
}

.header .intro-href {
	margin-top: 0.3em;
	text-shadow: none;
	font-family: RobotoBold;
	text-transform: uppercase;
	text-align: center;
}
