/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2016, 12:24:29 PM
    Author     : Vladimir
*/

.reservations-main {
	padding: 2em 13em 2em 13em;
	text-align: center;
}

.reservations-main .heading {
	font-family: SatisfyRegular;
	color: #fcc828;
	font-size: 1.5em;
}

.reservations-main .headingspace {
	width: 4em;
    padding-top: 0.1em;
    margin-left: auto;
    margin-right: auto;
    border-top: medium solid #585757;
    border-bottom: thick solid #585757;
}
